extends layout

block content
  h1= title

  div.text-right
    button.btn.btn-success(style="float: right") Add tournament

  div.container-fluid
    div.row 
      each tournament, index in results
        div.col-sm-2
          h4 #{tournament.name}
          p Year: #{tournament.year}
          p Location: #{tournament.location}

          div.text-center
            button.btn.btn-info Inspect
            button.btn.btn-warning Update
            button.btn.btn-danger Delete
            button(onclick=`buy(${index})`) Buy

  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }
